/* The container with the associated posts */
.associated-posts.thumbnail-only {
  overflow: hidden;
}

/* The container with ONE associated post */
.associated-posts.thumbnail-only .associated-post {
  overflow: hidden;
  display: inline-block;
}

/* The element which contains the post thumbnail image element */
.associated-posts.thumbnail-only .associated-post .thumb-frame {
}

/* The post thumbnail image element itself */
.associated-posts.thumbnail-only .associated-post .thumb-frame img {
}